*~
.DS_Store
ios/Pods
ios/fbProject.xcworkspace
ios
.gitignore
.idea/.gitignore
.idea/covid_api_django.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
bin/

include/
lib/



